/data
/histories
/log
/models
/pid
/testdata
/trainable
/wtmfcc/.spyproject
/wtmfcc/data
/wtmfcc/datamaps
/wtmfcc/histories
/wtmfcc/histories-cwt
/wtmfcc/log
/wtmfcc/models
/wtmfcc/models-cwt
/wtmfcc/testdata
/wtmfcc/testdata-cwt
/wtmfcc/trainable
/wtmfcc/trainable-cwt
/wtmfcc/model-cwt.py
/wtmfcc/plot.py
/wtmfcc/test.py
plot.py
thread.py
